
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Book Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" align="center">
    <h1>Book Management System</h1>
    <hr>
    <h2>View Book</h2>
    <hr>
    <form th:object="${book}" >

        <h5>Title</h5>
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
        <h5>Description</h5>
        <input type="text" th:field="*{description}" class="form-control mb-4 col-4">
        <h5>Publisher</h5>
        <input type="text" th:field="*{publisher.name}" class="form-control mb-4 col-4">
        <h4>Authors</h4>
        <fieldset id="items">
            <div th:each="i,stat : ${book.authors}">
                <h5>Name</h5>
                <input type="text" th:field="${book.authors[__${stat.index}__].name}"  class="form-control mb-1 col-4">
                <h5>Surname</h5>
                <input type="text" th:field="${book.authors[__${stat.index}__].surName}"  class="form-control mb-1 col-4">
            </div>
        </fieldset>

    </form>

    <hr>

    <a th:href = "@{/}"> Back to Book List</a>
</div>
</body>
</html>